*{margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  body{
    background-color:rgb(236, 222, 204);
  }
  .navi h1{
    margin-top: 15px;
  }
  nav ul {
  
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 10px;
    }
    
    nav ul li {
      display: inline-block;
    }
    
    nav ul li a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: #000;
    }
    
    nav ul li a:hover {
      background-color: #000;
      color: #fff;
      
    }
    .navi{
      text-align: center;
    }
    body{
      background-image:url("Edwige.webp");
      background-repeat: no-repeat;
      
    }
    .centered-text{
      margin-bottom:400px;
      text-align: center;
    }
    .h5 {
      font-size: 70px;
      margin-bottom: 90px;
      margin-top: 5px; /* Ajout de la marge supérieure */
    }
    
    .my-button {
      background-color: #f6f7f6;
      color: rgb(53, 45, 45);
      padding: 20px 60px;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      margin-top: 5px; /* Ajout de la marge supérieure */
    }

    #cont{
      margin-top: 1000px;
      background-color: #f6f7f6;
      height: 1500px;
    }
    .image-block {
      width: 300px;
      height: 300px;
      background-color: #f1f1f1;
      margin-bottom: 20px;
    }
    
    .image-block img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    .container {
      display: flex;
      flex-direction: row;
      align-content: space-between;
      gap: 15px;
      margin-top: 950px;
      /* margin-left: 10px; */
      /* margin-right: 10px; */
    }
    
    .image-block {
      width: 300px;
      height: 300px;
      background-color: #f1f1f1;
      margin-bottom: 20px;
    }
    
    .image-block img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .navi {
      position: relative;
    }
  
    .centered-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 24px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .D1{
      background-image:url("widege.webp");
      background-repeat: no-repeat;
      width: 600px;
      height: 495px;
    }

    .D2{
      margin-top: 15px;
      background-image:url("wige.webp");
      width: 100%;
      height: 48.5%;
      background-repeat: no-repeat;
    }

    
    .d1 H2{
      font-size: 70px;
      color: white;
      text-align: center;
      padding-top: 30%;
         
    }

    .dr1 H2{
      font-size: 70px;
      color: white;
      text-align: center;
      padding-top: 67%;
        
    }

    .left{  
      padding-left: 76px;    
      width: 1000px;
      height: 1000px;
    }

    .right{
      width: 1000px;
      height: 1000px;
    }

    .dr1{     
      height: 1000px;
      background-image: url("aimee.webp");
      background-repeat: no-repeat;
    }

    .footer{
      
      margin-top: 10%;
      margin-bottom: 5%;
    }


    .footer-name{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-size:  30px;
      
    }

    .footer-rs{
      display: flex;
      align-items: center;
      justify-content: center; 
      height: 50%;
    }


    ul.footer-rs>a { 
      padding: 30px ;
      
    }

    i.rs {
      font-size: 30px;
      color: #000;
    }
  